# Dependency directories
node_modules/

# Logs
logs/
*.log

# Build output
dist/
build/

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/
*.swp

# Miscellaneous
*.bak
*.tmp

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
pip-log.txt
venv/
env/
*.egg-info/
